<template>
  <q-page class="home">
    <div class="q-pa-md birkenfeld-image">
      <q-parallax>
        <template v-slot:media>
          <img src="../assets/birkenfeld.jpg" id="image" />
        </template>

        <template v-slot:content="scope">
          <div
            class="absolute column items-center"
            :style="{
            opacity: 0.75 + (1 - scope.percentScrolled) * 0.55,
            top: (scope.percentScrolled * 60) + '%',
            left: 0,
            right: 0
          }"
          >
            <img src="../assets/bir-logo.png" />
            <div class="text-h3 text-indigo-1 text-center">Locals in Birkenfeld</div>
            <div class="text-h6 text-indigo-1 text-center">Unterstützen Sie Ihre lokalen Unternehmen</div>
          </div>
        </template>
      </q-parallax>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "Home"
};
</script>
