<template>
  <q-page>
    <h1>Uploader</h1>
    <q-uploader
      name="myimage"
      type="file"
      url="http://localhost:3000/upload"
      action="post"
      :headers="[{ name: 'X-Custom-Timestamp', value: 1550240306080 }]"
      auto-upload
      multiple
    />
    <!-- <q-uploader
      ref="files"
      label="My Label"
      :additional-fields="[{ name: 'name', value: 'value' }]"
      multiple
      @change="encodeToBase64"
    />
    <q-btn type="btn" @click="uploadImage" label="Upload here" /> -->
    <br />
    <!-- <div v-for="image in images" :key="image">
      {{ image.image }}
    </div> -->
    <!-- <img
      src="C:\Users\kreut\Desktop\locals-in-birkenfeld\backend\files\upload_f72c1da12e8202c89357abc6ba6d1a4d"
    /> -->
  </q-page>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      images: []
    };
  },
  methods: {
    async encodeToBase64(files) {
      var attach = [];
      var reader = [];

      // loop through each of the files in q-uploader
      for (let i = 0; i < files.length; i++) {
        attach[i] = await this.singleFileToBase64(i, files, reader);
      }
      // returns an array of all the files in base64 format
      return attach;
    },

    singleFileToBase64(i, files, reader) {
      reader[i] = new FileReader();
      // read the file into a base64 format
      reader[i].readAsDataURL(files[i]);

      return new Promise((resolve, reject) => {
        reader[i].onerror = () => {
          reader[i].abort();
          reject("Insert error message here");
        };

        // return the base 64 string
        reader[i].onload = function() {
          resolve(reader[i].result);
        };
      });
    },

    uploadImage() {
      const string = this.encodeToBase64(this.$refs.files.files);
      console.log(string);
      axios
        .post("http://localhost:3000/upload", string)
        .then(response => {
          console.log(response);
        })
        .catch(error => {
          console.warn("ERROR");
        });
    }
  },

  mounted() {
    axios
      .get("http://localhost:3000/upload")
      .then(response => {
        this.images = response.data;
      })
      .catch(error => {
        console.warn("ERROR");
      });
  }
};
</script>

<style></style>
