<template>
  <q-footer view>
    <q-toolbar>
      <div class="footer">
        <div class="info-section">
          <h4>Information</h4>
          <div>
            Da wir zur Zeit alle aufgrund der COVID-19-Krise in unserem Alltag eingeschränkt sind, wurde ein Konzept von Studenten des Umwelt-Campus in Birkenfeld erstellt,
            um gelernte Inhalte im Rahmen einer COVID-19-Lösung sinnvoll anzuwenden. Das Projekt "Locals in Birkenfeld" unterstützt die lokalen Einzelhändler bzw. Freiberufler, indem
            Ihnen eine Plattform zur Repräsentation geboten wird. Sie können Ihre Informationen selbst über ein Formular auf unserer Website eintragen, wodurch Ihr Unternehmen in
            unsere Liste aufgenommen wird. Dadurch wird zudem gegen Falschinformationen von Google gearbeitet, da Sie selbst jederzeit die Kontrolle über korrekte Daten besitzen.
            Falls Sie Interesse an unserer kostenlosen Plattform haben, bitten Wir Sie, sich
            <a
              href="/eintrag-hinzufügen"
              class="link"
            >hier</a> einzutragen.
          </div>
        </div>
        <div class="contact-section">
          <h4>Kontakt</h4>
          <span class="material-icons">email</span>
          <span>s17ce7@umwelt-campus.de</span>
          <br />
          <br />
        </div>
      </div>
    </q-toolbar>
    <q-toolbar class="datenschutz">
      <router-link to="/datenschutz">Datenschutz</router-link>
    </q-toolbar>
  </q-footer>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style>
</style>