@import "variables.scss";

.footer {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Muli", Helvetica, Arial, sans-serif;
  h4 {
    font-weight: bold;
  }
  p {
    font-weight: 100;
  }
}

.link {
  color: #dc3545 !important;
}

.q-footer {
  padding: 0;
  background-color: $footer;
  color: #ccc;
}

.info-section {
  flex-basis: 65%;
  margin-left: 15%;
  text-align: justify;
}

.contact-section {
  flex-basis: 35%;
  margin-left: 10%;
  margin-right: 15%;
  text-align: justify;
  .material-icons {
    margin-right: 5px;
    font-size: 20px;
  }
}

.datenschutz {
  justify-content: center;
  background-color: #1d2632;
  a {
    color: #ccc;
    text-decoration: none;
  }
  a:hover {
    color: #fff;
    text-decoration: none;
  }
}

@media (max-width: 1000px) {
  .footer {
    flex-direction: column;

    .info-section {
      margin: 0 3%;
    }

    .contact-section {
      margin: 0 3%;
    }
  }
}
