@import "variables.scss";

.q-header {
  background-color: $primary !important;
}

.q-toolbar__title {
  display: inherit;
  padding-top: 10px;
  margin-bottom: -15px;
  img {
    width: 50px !important;
    margin-right: 10px;
  }
  span {
    margin-top: 10px;
  }
}

.birkenfeld-image {
  padding: 0;
  opacity: 0.9;
}
