<template>
  <q-layout view="hHh lpR fff">
    <q-header elevated class="bg-primary text-white" height-hint="98">
      <q-toolbar>
        <q-toolbar-title>
          <img src="../assets/bir-logo.png" />
          <span>Locals in Birkenfeld</span>
        </q-toolbar-title>
      </q-toolbar>

      <q-tabs align="center">
        <q-route-tab to="/" label="Startseite" />
        <q-route-tab to="/übersicht" label="Übersicht" />
        <q-route-tab to="/kontakt" label="Kontakt" />
      </q-tabs>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-page-container>
      <Footer />
    </q-page-container>
  </q-layout>
</template>

<script>
import Footer from "src/components/Footer";
export default {
  name: "MainLayout",
  components: {
    Footer
  }
};
</script>
